{"openapi":"3.0.1","servers":[{"url":"https://genial-baas-operations.ingress-homolog-internal-sp.genial.systems","description":"Homolog server"}],"info":{"title":"Genial.Baas.Operations.API","version":"1.0"},"paths":{"/v1/cashin/instant-payment-id/{id}":{"get":{"tags":["Cashin"],"summary":"Consultar CashIn por InstantPaymentId","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstantPaymentCashinEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}},"/v1/cashin/end-to-end-id/{id}":{"get":{"tags":["Cashin"],"summary":"Consultar CashIn por EndToEndId","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstantPaymentCashinEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}},"/v1/cashin/receiver-reconciliation/{id}":{"get":{"tags":["Cashin"],"summary":"Consultar operação Cashin por Receiver Reconciliation","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstantPaymentCashinEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/cashin/callback-fail/{agency}/{account}":{"get":{"tags":["Cashin"],"summary":"Consultar Cashin com falha no envio, por agência, conta de crédito e período","parameters":[{"name":"agency","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"account","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"startDate","in":"query","description":"","schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PartnerCashinFailResponse"},{"$ref":"#/components/schemas/GenialCashinFailResponse"}]}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/cashin/pix-return/{endToEnd}/{periodo}":{"get":{"tags":["Cashin"],"summary":"Consultar Cashin de Devolução por OriginalEndToEndId e Período (Busca somente por um dia)","parameters":[{"name":"endToEnd","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"periodo","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InstantPaymentCashinEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/cashout/pix-send/end-to-end-id/{id}":{"get":{"tags":["Cashout"],"summary":"Consultar operação PIX por EndToEndId","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PixSendEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}},"/v1/cashout/pix-send/instant-payment-id/{id}":{"get":{"tags":["Cashout"],"summary":"Consultar operação PIX por InstantPaymentId / Período","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"date","in":"query","description":"","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PixSendEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}},"/v1/cashout/pix-return/end-to-end-id/{id}":{"get":{"tags":["Cashout"],"summary":"Consultar operação de Devolução PIX por EndToEndId","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PixReturnEntity"}}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}},"/v1/dict/pix/white-list/{key}/{keyType}":{"get":{"tags":["Dict"],"summary":"Consultar Chave PIX na White List","parameters":[{"name":"key","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"keyType","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"string"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoggerActionExceptionHandlerResponse"}}}}}}}},"components":{"schemas":{"Account":{"type":"object","properties":{"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true}},"additionalProperties":false},"AccountKey":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"openingDate":{"type":"string","nullable":true}},"additionalProperties":false},"AccountResponse":{"type":"object","properties":{"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true}},"additionalProperties":false},"Accounts":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"openingDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"CashinFailResponse":{"type":"object","properties":{"value":{"nullable":true,"readOnly":true},"index":{"type":"integer","format":"int32","readOnly":true},"isT0":{"type":"boolean","readOnly":true},"isT1":{"type":"boolean","readOnly":true},"asT0":{"$ref":"#/components/schemas/PartnerCashinFailResponse"},"asT1":{"$ref":"#/components/schemas/GenialCashinFailResponse"}},"additionalProperties":false},"CashoutResponse":{"type":"object","properties":{"customerDebitMadeByMip":{"type":"boolean"},"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","format":"date-time"},"settlementId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverCashoutResponse"},"payer":{"$ref":"#/components/schemas/PayerCashoutResponse"},"spiTimestampUTC":{"type":"string","format":"date-time"},"spiSettlementDate":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"mirrorWasActive":{"type":"boolean"},"originalSystem":{"type":"string","nullable":true},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"debitEventType":{"$ref":"#/components/schemas/EventTypeStatusResponse"},"debitEventStatus":{"$ref":"#/components/schemas/EventTypeStatusResponse"},"debitRejectionReason":{"$ref":"#/components/schemas/DebitRejectionReasonResponse"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"createDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"CustomerFundsMonitoringReceived":{"type":"object","properties":{"active":{"type":"boolean"},"valueMonitored":{"type":"number","format":"double"}},"additionalProperties":false},"DebitClearingReason":{"type":"object","properties":{"code":{"type":"string","nullable":true}},"additionalProperties":false},"DebitClearingReasonResponse":{"type":"object","properties":{"code":{"type":"string","nullable":true}},"additionalProperties":false},"DebitRejectionReason":{"type":"object","properties":{"debitClearingReason":{"$ref":"#/components/schemas/DebitClearingReason"},"additionalRejectionDescription":{"type":"string","nullable":true}},"additionalProperties":false},"DebitRejectionReasonResponse":{"type":"object","properties":{"debitClearingReason":{"$ref":"#/components/schemas/DebitClearingReasonResponse"},"additionalRejectionDescription":{"type":"string","nullable":true}},"additionalProperties":false},"ErrorMessage":{"type":"object","properties":{"message":{"type":"string","nullable":true},"exception":{"type":"string","nullable":true},"stackTrace":{"type":"string","nullable":true},"data":{"type":"string","format":"date-time"}},"additionalProperties":false},"EventKeyPixEntity":{"type":"object","properties":{"key":{"$ref":"#/components/schemas/Key"},"newStatus":{"$ref":"#/components/schemas/NewStatus"},"newStatusUtcTimestamp":{"type":"string","format":"date-time"},"reason":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Accounts"},"holder":{"$ref":"#/components/schemas/Holder"},"confirmationToken":{"type":"string","nullable":true},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"EventTypeStatus":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"EventTypeStatusResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"GenialCashinFail":{"type":"object","properties":{"endToEndId":{"type":"string","nullable":true},"instantPaymentId":{"type":"string","nullable":true},"idContaDigital":{"type":"integer","format":"int32"},"valor":{"type":"number","format":"double"},"cpfCnpj":{"type":"string","nullable":true},"tipoPessoa":{"type":"string","nullable":true},"descricao":{"type":"string","nullable":true},"tipoLancamento":{"type":"string","nullable":true},"banco":{"type":"string","nullable":true},"agencia":{"type":"string","nullable":true},"conta":{"type":"string","nullable":true},"nomeBanco":{"type":"string","nullable":true},"ispbIf":{"type":"string","nullable":true},"dataCriacaoOrigem":{"type":"string","nullable":true},"contaBrasilPlural":{"type":"string","nullable":true},"codigoContaCorrenteGenial":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"debitoCredito":{"type":"string","nullable":true}},"additionalProperties":false},"GenialCashinFailResponse":{"type":"object","properties":{"instantPayment":{"$ref":"#/components/schemas/GenialCashinFail"},"userName":{"type":"string","nullable":true},"urlCallback":{"type":"string","nullable":true},"createDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"HeaderHttp":{"type":"object","properties":{"gUsername":{"type":"string","nullable":true},"gCnpj":{"type":"string","nullable":true},"gAgency":{"type":"integer","format":"int32"},"gAccount":{"type":"integer","format":"int64"}},"additionalProperties":false},"Holder":{"type":"object","properties":{"name":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportAnalysis":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportCustomer":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportEntity":{"type":"object","properties":{"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"analysis":{"$ref":"#/components/schemas/InfractionReportAnalysis"},"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"dictCreationTimeUtc":{"type":"string","format":"date-time"},"transaction":{"$ref":"#/components/schemas/InfractionReportTransaction"},"reportedBy":{"type":"string","nullable":true},"transactionResult":{"type":"string","nullable":true},"transactionType":{"type":"string","nullable":true},"complaintCreationTime":{"type":"string","format":"date-time"},"infractionRecordIndicator":{"type":"integer","format":"int32"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"InfractionReportReceivedEntity":{"type":"object","properties":{"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"analysis":{"$ref":"#/components/schemas/InfractionReportAnalysis"},"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"dictCreationTimeUtc":{"type":"string","format":"date-time"},"transaction":{"$ref":"#/components/schemas/InfractionReportTransaction"},"refund":{"$ref":"#/components/schemas/RefundReceived"},"reportedBy":{"type":"string","nullable":true},"transactionResult":{"type":"string","nullable":true},"transactionType":{"type":"string","nullable":true},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"InfractionReportTransaction":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/InfractionReportCustomer"}},"additionalProperties":false},"InstantPaymentCashinEntity":{"type":"object","properties":{"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"receiverReconciliationIdentifier":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverOperation"},"payer":{"$ref":"#/components/schemas/PayerOperation"},"spiTimestampUTC":{"type":"string","format":"date-time"},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/EventTypeStatus"},"eventStatus":{"$ref":"#/components/schemas/EventTypeStatus"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"return":{"$ref":"#/components/schemas/Return"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"InstantPaymentCashinEntityPaginatedResponse":{"type":"object","properties":{"page":{"type":"array","items":{"$ref":"#/components/schemas/InstantPaymentCashinEntity"},"nullable":true},"currentPage":{"type":"integer","format":"int32"},"pageItens":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItens":{"type":"integer","format":"int32"}},"additionalProperties":false},"InstantPaymentCashoutEntity":{"type":"object","properties":{"customerDebitMadeByMip":{"type":"boolean"},"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","format":"date-time"},"settlementId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverCashout"},"payer":{"$ref":"#/components/schemas/PayerCashout"},"spiTimestampUTC":{"type":"string","format":"date-time"},"spiSettlementDate":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"mirrorWasActive":{"type":"boolean"},"originalSystem":{"type":"string","nullable":true},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"debitEventType":{"$ref":"#/components/schemas/EventTypeStatus"},"debitEventStatus":{"$ref":"#/components/schemas/EventTypeStatus"},"debitRejectionReason":{"$ref":"#/components/schemas/DebitRejectionReason"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"InstantPaymentsCallback":{"type":"object","properties":{"eventId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/InstantPaymentsStatusRequest"},"mipTransactionType":{"type":"string","nullable":true},"originalSystemTransactionId":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/InstantPaymentsEventTypeRequest"},"rejection":{"$ref":"#/components/schemas/InstantPaymentsRejectionRequest"}},"additionalProperties":false},"InstantPaymentsEventTypeRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"InstantPaymentsRejectionRequest":{"type":"object","properties":{"reasonPACS002":{"type":"string","nullable":true}},"additionalProperties":false},"InstantPaymentsStatusRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"Key":{"type":"object","properties":{"id":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"LoggerActionErrorResponse":{"type":"object","properties":{"mensagem":{"type":"string","nullable":true},"propriedade":{"type":"string","nullable":true},"codigo":{"type":"string","nullable":true}},"additionalProperties":false},"LoggerActionExceptionHandlerResponse":{"type":"object","properties":{"message":{"type":"string","nullable":true},"exception":{"type":"string","nullable":true},"fullException":{"type":"string","nullable":true}},"additionalProperties":false},"NewStatus":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"OriginalSpecification":{"type":"object","properties":{"refundReason":{"type":"string","nullable":true},"refundAmount":{"type":"string","nullable":true},"refundDetails":{"type":"string","nullable":true}},"additionalProperties":false},"OriginalTransaction":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/InfractionReportCustomer"}},"additionalProperties":false},"PartnerCashinFail":{"type":"object","properties":{"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"receiverReconciliationIdentifier":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverCashinFail"},"payer":{"$ref":"#/components/schemas/PayerCashinFail"},"spiTimestampUTC":{"type":"string","format":"date-time"},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/EventTypeStatusResponse"},"eventStatus":{"$ref":"#/components/schemas/EventTypeStatusResponse"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"return":{"$ref":"#/components/schemas/ReturnCashinFail"}},"additionalProperties":false},"PartnerCashinFailResponse":{"type":"object","properties":{"instantPayment":{"$ref":"#/components/schemas/PartnerCashinFail"},"userName":{"type":"string","nullable":true},"urlCallback":{"type":"string","nullable":true},"createDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"PayerCashinFail":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/PspResponse"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/AccountResponse"}},"additionalProperties":false},"PayerCashout":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"PayerCashoutResponse":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/PspResponse"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/AccountResponse"}},"additionalProperties":false},"PayerOperation":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"PixInsertKeyAccountHolderRequest":{"type":"object","properties":{"document":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PixInsertKeyAccountRequest":{"type":"object","properties":{"agency":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true}},"additionalProperties":false},"PixInsertKeyEntity":{"type":"object","properties":{"pixInsertKeyRequestOperation":{"$ref":"#/components/schemas/PixInsertKeyRequestOperation"},"pixInsertKeyResponseOperation":{"$ref":"#/components/schemas/PixInsertKeyResponseOperation"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"PixInsertKeyRequestOperation":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/PixInsertKeyAccountRequest"},"accountHolderInformation":{"$ref":"#/components/schemas/PixInsertKeyAccountHolderRequest"}},"additionalProperties":false},"PixInsertKeyResponseOperation":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"clearingDelayMilliseconds":{"type":"integer","format":"int64"},"validationToken":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/AccountKey"}},"additionalProperties":false},"PixReturnEntity":{"type":"object","properties":{"returnId":{"type":"string","nullable":true},"creationDateTime":{"type":"string","format":"date-time"},"originalInstantPaymentId":{"type":"string","nullable":true},"returnedAmount":{"type":"number","format":"double"},"endToEndId":{"type":"string","nullable":true},"customerDebitMadeByMip":{"type":"boolean"},"instantPayment":{"$ref":"#/components/schemas/InstantPaymentsCallback"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"PixSend":{"type":"object","properties":{"receiver":{"$ref":"#/components/schemas/PixSendReceiverEntity"},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"demandsImmediateReturn":{"type":"boolean"},"historicComplement":{"type":"string","nullable":true},"informationAccountHolder":{"type":"string","nullable":true},"originSystem":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"payer":{"$ref":"#/components/schemas/PixSendPayerEntity"},"instantPaymentId":{"type":"string","nullable":true},"eventStatus":{"$ref":"#/components/schemas/PixSendEventStatusEntity"},"endToEndId":{"type":"string","nullable":true},"customerDebitMadeByMip":{"type":"boolean"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendAccountEntity":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendCreditRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"document":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendDebitRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendEntity":{"type":"object","properties":{"pixSendRequest":{"$ref":"#/components/schemas/PixSendRequest"},"statusResponse":{"$ref":"#/components/schemas/PixSend"},"header":{"$ref":"#/components/schemas/HeaderHttp"},"instantPayments":{"$ref":"#/components/schemas/InstantPaymentsCallback"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"PixSendEventStatusEntity":{"type":"object","properties":{"code":{"type":"string","nullable":true},"description":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendPayerEntity":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/PixSendAccountEntity"},"checkCustomerAccountBalance":{"type":"boolean"},"name":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendReceiverEntity":{"type":"object","properties":{"receiverInstitutionISPB":{"type":"integer","format":"int32"},"receiverTaxId":{"type":"string","nullable":true},"addressingKey":{"type":"string","nullable":true},"endToEndIdQuery":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/PixSendAccountEntity"}},"additionalProperties":false},"PixSendRequest":{"type":"object","properties":{"debit":{"$ref":"#/components/schemas/PixSendDebitRequest"},"credit":{"$ref":"#/components/schemas/PixSendCreditRequest"},"idempotencyId":{"type":"string","nullable":true},"originalSystemTransactionId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"historicComplement":{"type":"string","nullable":true},"observation":{"type":"string","nullable":true,"readOnly":true,"deprecated":true},"ignorePaymentDuplication":{"type":"boolean"},"transactionApproved":{"type":"boolean"},"initiatingInstitution":{"type":"string","nullable":true},"reconciliationIdentifier":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousInfractionReport":{"type":"object","properties":{"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"Psp":{"type":"object","properties":{"ispb":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PspResponse":{"type":"object","properties":{"ispb":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ReceiverCashinFail":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/PspResponse"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/AccountResponse"}},"additionalProperties":false},"ReceiverCashout":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"ReceiverCashoutResponse":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/PspResponse"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/AccountResponse"}},"additionalProperties":false},"ReceiverOperation":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"RefundReceived":{"type":"object","properties":{"refundValue":{"type":"string","nullable":true},"expectedAmount":{"type":"string","nullable":true},"customerFundsMonitoring":{"$ref":"#/components/schemas/CustomerFundsMonitoringReceived"}},"additionalProperties":false},"RefundRequestEntity":{"type":"object","properties":{"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"originalSpecification":{"$ref":"#/components/schemas/OriginalSpecification"},"originalTransaction":{"$ref":"#/components/schemas/OriginalTransaction"},"previousInfractionReport":{"type":"string","nullable":true},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"RefundRequestReceivedEntity":{"type":"object","properties":{"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"originalSpecification":{"$ref":"#/components/schemas/OriginalSpecification"},"originalTransaction":{"$ref":"#/components/schemas/OriginalTransaction"},"refund":{"$ref":"#/components/schemas/RefundReceived"},"previousInfractionReport":{"$ref":"#/components/schemas/PreviousInfractionReport"},"id":{"type":"string"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"Return":{"type":"object","properties":{"originalEndToEndId":{"type":"string","nullable":true},"originalInstantPaymentId":{"type":"string","nullable":true},"returnReasonInformation":{"$ref":"#/components/schemas/ReturnReasonInformation"}},"additionalProperties":false},"ReturnCashinFail":{"type":"object","properties":{"originalEndToEndId":{"type":"string","nullable":true},"originalInstantPaymentId":{"type":"string","nullable":true},"returnReasonInformation":{"$ref":"#/components/schemas/ReturnReasonCashinFail"}},"additionalProperties":false},"ReturnReasonCashinFail":{"type":"object","properties":{"reasonCode":{"type":"string","nullable":true},"reasonDescription":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true}},"additionalProperties":false},"ReturnReasonInformation":{"type":"object","properties":{"reasonCode":{"type":"string","nullable":true},"reasonDescription":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. \\r\\n\\r\\n \n                      Enter 'Bearer' [space] and then your token in the text input below.\n                      \\r\\n\\r\\nExample: 'Bearer 12345abcdef'","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}]}