{"openapi":"3.0.1","servers":[{"url":"https://gerador-arquitetura-baas.homolog.api.genial.systems","description":"Homolog server"}],"info":{"title":"Genial.QrCode.BaaS","description":"API Banking Services","contact":{"name":"Genial Investimentos","url":"https://www.genialinvestimentos.com.br/"},"version":"2.0"},"paths":{"/v2/qrcode/dynamic":{"post":{"tags":["QrCode"],"summary":"Gerar Qrcode Dinâmico","parameters":[{"name":"agency","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"account","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QrcodeWrapperDynamicRequestV2"}}}},"responses":{"207":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QrCodeDynamicResponsetV2"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LoggerActionErrorResponse"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}}},"components":{"schemas":{"AdditionalInformation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"showToPayer":{"type":"boolean"}},"additionalProperties":false},"Addressing":{"type":"object","properties":{"street":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"uf":{"type":"string","nullable":true},"cep":{"type":"string","nullable":true}},"additionalProperties":false},"AddressingKey":{"type":"object","properties":{"key":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"BillingDueDate":{"type":"object","properties":{"dueDate":{"type":"string","nullable":true},"daysAfterDueDate":{"type":"integer","format":"int32"},"payerInformation":{"$ref":"#/components/schemas/PayerInformationBillingDueDate"},"receiverInformation":{"$ref":"#/components/schemas/ReceiverInformationBillingDueDate"},"paymentValue":{"$ref":"#/components/schemas/PaymentValueBillingDueDate"}},"additionalProperties":false},"Cashback":{"type":"object","properties":{"cashbackType":{"type":"string","nullable":true},"value":{"type":"number","format":"double","nullable":true},"allowValueChange":{"type":"boolean"},"withdrawProviders":{"$ref":"#/components/schemas/WithdrawProviders"}},"additionalProperties":false},"Data":{"type":"object","properties":{"textContent":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true},"qrcodeURL":{"type":"string","nullable":true}},"additionalProperties":false},"DataResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Item"},"nullable":true}},"additionalProperties":false},"Discounts":{"type":"object","properties":{"modality":{"type":"integer","format":"int32"},"uniqueValuePercDiscount":{"type":"number","format":"double","nullable":true},"fixedDateDiscounts":{"type":"array","items":{"$ref":"#/components/schemas/FixedDateDiscount"},"nullable":true}},"additionalProperties":false},"Error":{"type":"object","properties":{"code":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"field":{"type":"string","nullable":true}},"additionalProperties":false},"ErrorMessage":{"type":"object","properties":{"message":{"type":"string","nullable":true},"exception":{"type":"string","nullable":true},"stackTrace":{"type":"string","nullable":true},"data":{"type":"string","format":"date-time"}},"additionalProperties":false},"Fines":{"type":"object","properties":{"valuePerc":{"type":"number","format":"double","nullable":true},"modality":{"type":"integer","format":"int32"}},"additionalProperties":false},"FixedDateDiscount":{"type":"object","properties":{"valuePerc":{"type":"number","format":"double","nullable":true},"date":{"type":"string","nullable":true}},"additionalProperties":false},"Immediate":{"type":"object","properties":{"expiration":{"type":"integer","format":"int64"},"paymentValue":{"$ref":"#/components/schemas/PaymentValueImmediate"},"payerInformation":{"$ref":"#/components/schemas/PayerInformationImmediate"},"receiverInformation":{"$ref":"#/components/schemas/ReceiverInformationImmediate"}},"additionalProperties":false},"Interests":{"type":"object","properties":{"valuePerc":{"type":"number","format":"double","nullable":true},"modality":{"type":"integer","format":"int32"}},"additionalProperties":false},"Item":{"type":"object","properties":{"itemId":{"type":"string","nullable":true},"data":{"$ref":"#/components/schemas/Data"},"error":{"type":"array","items":{"$ref":"#/components/schemas/Error"},"nullable":true}},"additionalProperties":false},"LoggerActionErrorResponse":{"type":"object","properties":{"message":{"type":"string","nullable":true},"field":{"type":"string","nullable":true},"code":{"type":"string","nullable":true}},"additionalProperties":false},"PayerInformationBillingDueDate":{"type":"object","properties":{"cpfCnpj":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"addressing":{"$ref":"#/components/schemas/Addressing"}},"additionalProperties":false},"PayerInformationImmediate":{"type":"object","properties":{"cpfCnpj":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"validatePayerInformation":{"type":"boolean"}},"additionalProperties":false},"PaymentValueBillingDueDate":{"type":"object","properties":{"documentValue":{"type":"number","format":"double","nullable":true},"showPaymentValueInQrCode":{"type":"boolean"},"interests":{"$ref":"#/components/schemas/Interests"},"fines":{"$ref":"#/components/schemas/Fines"},"discounts":{"$ref":"#/components/schemas/Discounts"},"reduction":{"$ref":"#/components/schemas/Reduction"}},"additionalProperties":false},"PaymentValueImmediate":{"type":"object","properties":{"documentValue":{"type":"number","format":"double","nullable":true},"showPaymentValueInQrCode":{"type":"boolean"},"modalityChange":{"type":"integer","format":"int32"},"cashback":{"$ref":"#/components/schemas/Cashback"}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"QrCodeDynamicRequestV2":{"type":"object","properties":{"addressingKey":{"$ref":"#/components/schemas/AddressingKey"},"accountHolderName":{"type":"string","nullable":true},"accountHolderCity":{"type":"string","nullable":true},"dynamicQRCodeType":{"type":"string","nullable":true},"immediate":{"$ref":"#/components/schemas/Immediate"},"billingDueDate":{"$ref":"#/components/schemas/BillingDueDate"},"payerRequestInformation":{"type":"string","nullable":true},"additionalInformation":{"type":"array","items":{"$ref":"#/components/schemas/AdditionalInformation"},"nullable":true},"itemId":{"type":"string","nullable":true},"receiverTxId":{"type":"string","nullable":true}},"additionalProperties":false},"QrCodeDynamicResponsetV2":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DataResponse"}},"additionalProperties":false},"QrcodeWrapperDynamicRequestV2":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/QrCodeDynamicRequestV2"},"nullable":true}},"additionalProperties":false},"ReceiverInformationBillingDueDate":{"type":"object","properties":{"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"tradeName":{"type":"string","nullable":true},"addressing":{"$ref":"#/components/schemas/Addressing"}},"additionalProperties":false},"ReceiverInformationImmediate":{"type":"object","properties":{"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"tradeName":{"type":"string","nullable":true}},"additionalProperties":false},"Reduction":{"type":"object","properties":{"valuePerc":{"type":"number","format":"double","nullable":true},"modality":{"type":"integer","format":"int32"}},"additionalProperties":false},"WithdrawProviders":{"type":"object","properties":{"agentModality":{"type":"string","nullable":true},"serviceProvider":{"type":"string","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. \\r\\n\\r\\n \n                      Enter 'Bearer' [space] and then your token in the text input below.\n                      \\r\\n\\r\\nExample: 'Bearer 12345abcdef'","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}]}