{"openapi":"3.0.1","servers":[{"url":"https://gerador-arquitetura-baas.homolog.api.genial.systems","description":"Homolog server"}],"info":{"title":"Genial.Arquitetura.BaaS","description":"API Banking Services","contact":{"name":"Genial Investimentos","url":"https://www.genialinvestimentos.com.br/"},"version":"1.0"},"paths":{"/v1/pix/send/initialization":{"post":{"tags":["Pix"],"summary":"Inicialização do envio de pix","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PixInitializationRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/PixInitializationRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixInitializationRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixInitializationRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixInitializationResponseMateraErrorResponseIEnumerableWrapper"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}}}}},"/v1/pix/send/confirmed":{"post":{"tags":["Pix"],"summary":"Confirmar envio de pix através do idempotencyId","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PixConfirmationRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/PixConfirmationRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixConfirmationRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixConfirmationRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixConfirmationResponseMateraErrorResponseIEnumerableWrapper"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}},"412":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}}}}},"/v1/pix/send/manual":{"post":{"tags":["Pix"],"summary":"Envio de pix manual","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PixManualRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/PixManualRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixManualRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixManualRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixConfirmationResponseMateraErrorResponseIEnumerableWrapper"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectValidationErrorsModelIEnumerableWrapper"}}}},"412":{"description":"Client Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}}}}},"/v1/pix/status-callback/{endToEndId}":{"get":{"tags":["Pix"],"summary":"Consulta de Callback - Registro disponível por duas horas","parameters":[{"name":"endToEndId","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixStatusResponse"}}}},"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/return":{"post":{"tags":["Pix"],"summary":"Devolução de PIX","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PixReturnRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/PixReturnRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixReturnRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixReturnRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReturnResponseMateraErrorResponseIEnumerableWrapper"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/receipt/{endToEndId}":{"get":{"tags":["Pix"],"summary":"Gerar comprovante PIX","parameters":[{"name":"endToEndId","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReceiptResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorsModel"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/receipt-return/{endToEndId}":{"get":{"tags":["Pix"],"summary":"Gerar comprovante Devolução PIX","parameters":[{"name":"endToEndId","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixReceiptResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorsModel"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/qrcode-static":{"post":{"tags":["Pix"],"summary":"Gerar Qrcode","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/QrcodeModelRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/QrcodeModelRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/QrcodeModelRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/QrcodeModelRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixQrcodeEntityWrapper"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/qrcode-decode":{"get":{"tags":["Pix"],"summary":"Decode Qrcode","parameters":[{"name":"qrcode","in":"query","description":"","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixQrcodeDecodeEntityMateraErrorResponseIEnumerableWrapper"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/qrcode-dynamic":{"post":{"tags":["Pix"],"summary":"Gerar Qrcode Dinâmico","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/QrcodeDynamicModelRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/QrcodeDynamicModelRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/QrcodeDynamicModelRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/QrcodeDynamicModelRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixQrcodeDynamicEntityResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/copy-paste":{"post":{"tags":["Pix"],"summary":"Copy Paste - Pagamento QR Codes","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/QrcodeModelCopyPasteRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/QrcodeModelCopyPasteRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/QrcodeModelCopyPasteRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/QrcodeModelCopyPasteRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixSendEntityMateraErrorResponseIEnumerableWrapper"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/key":{"post":{"tags":["PixDict"],"summary":"Registrar chave PIX","requestBody":{"description":"","content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/PixInsertKeyRequest"}},"application/json":{"schema":{"$ref":"#/components/schemas/PixInsertKeyRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/PixInsertKeyRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/PixInsertKeyRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixInsertKeyResponseMateraErrorResponseIEnumerableWrapper"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorsModel"}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v1/pix/key-list/{agency}/{account}":{"get":{"tags":["PixDict"],"summary":"Listar chaves PIX","parameters":[{"name":"agency","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","description":"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixFindEntitiesWrapper"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"500":{"description":"Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/v2/pix/key-account-partner/{agency}/{account}/{key}":{"get":{"tags":["PixDict"],"summary":"Consultar chave PIX para parceiros","parameters":[{"name":"agency","in":"path","description":"","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"account","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"includeStatistics","in":"query","description":"","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PixFindEntityWrapper"}}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObjectMateraErrorResponseIEnumerableWrapper"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorsModel"}}}}}}}}},"components":{"schemas":{"Account":{"type":"object","properties":{"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true}},"additionalProperties":false},"AccountAdditionalInformation":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"openingDate":{"type":"string","nullable":true}},"additionalProperties":false},"AccountKey":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"openingDate":{"type":"string","nullable":true}},"additionalProperties":false},"Accounts":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"openingDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"Addressing":{"type":"object","properties":{"street":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"uf":{"type":"string","nullable":true},"cep":{"type":"string","nullable":true}},"additionalProperties":false},"AddressingKeyRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"Analysis":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"AnalysisOp":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"AnalysisReceived":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"AnalysisRequest":{"type":"object","properties":{"analysis":{"$ref":"#/components/schemas/Analysis"}},"additionalProperties":false},"AnalysisResponse":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"AnalysisResultResponse":{"type":"object","properties":{"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true},"refundRejectionReason":{"type":"string","nullable":true}},"additionalProperties":false},"ClaimHistoryData":{"type":"object","properties":{"histories":{"type":"array","items":{"$ref":"#/components/schemas/History"},"nullable":true}},"additionalProperties":false},"ClaimHistoryResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ClaimHistoryData"}},"additionalProperties":false},"ClaimHistoryResponseWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ClaimHistoryResponse"}},"additionalProperties":false},"ConsultInfringementReportResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemResponse"},"nullable":true}},"additionalProperties":false},"ConsultInfringementReportResponseListMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ConsultInfringementReportResponse"},"nullable":true},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"ConsultInfringementReportResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ConsultInfringementReportResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"CustomerFundsMonitoringReceived":{"type":"object","properties":{"active":{"type":"boolean"},"valueMonitored":{"type":"number","format":"double"}},"additionalProperties":false},"CustomerFundsMonitoringResponse":{"type":"object","properties":{"active":{"type":"boolean"},"valueMonitored":{"type":"number","format":"double"}},"additionalProperties":false},"CustomerOp":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"CustomerReceived":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"CustomerRefund":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"CustomerResponse":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"Data":{"type":"object","properties":{"textContent":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true},"qrcodeURL":{"type":"string","nullable":true}},"additionalProperties":false},"DataRoot":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Item"},"nullable":true}},"additionalProperties":false},"DebitClearingReason":{"type":"object","properties":{"code":{"type":"string","nullable":true}},"additionalProperties":false},"DebitRejectionReason":{"type":"object","properties":{"debitClearingReason":{"$ref":"#/components/schemas/DebitClearingReason"},"additionalRejectionDescription":{"type":"string","nullable":true}},"additionalProperties":false},"DynamicDecode":{"type":"object","properties":{"pointOfInitiationMethod":{"type":"integer","format":"int32"},"country":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"value":{"type":"number","format":"double","nullable":true},"merchantName":{"type":"string","nullable":true},"merchantCity":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true},"payloadId":{"type":"string","nullable":true},"payloadUrl":{"type":"string","nullable":true},"payload":{"$ref":"#/components/schemas/QrcodeDynamicPayload"}},"additionalProperties":false},"EPixPortabilityReason":{"enum":["USER_REQUESTED","DEFAULT_OPERATION","ACCOUNT_CLOSURE","FRAUD"],"type":"string"},"EPixPortabilityStatus":{"enum":["IDENTITY_VALIDATION_PENDING","CLEARING_REGISTRATION_PENDING","ACTIVE","EXCLUDED","PENDING_DELETION","REJECTED","EXPIRED","PENDING_PORTABILITY_CONFIRMATION","PENDING_CLAIM_CONFIRMATION","DONATED_FOR_PORTABILITY","PORTABILITY_REQUESTED","USER_CONFIRMATION_PENDING_PORTABILITY","PENDING_PORTABILITY_DICT","AWAITING_RETURN_PSP_DONOR","UNSUCCESSFUL_PORTABILITY","CANCEL_PORTABILITY_REQUEST","CONFIRM_CLAIMING_PORTABILITY","SUCCESSFUL_PORTABILITY","PENDING_CLAIM_DICT","CLAIM_AWAITING_RETURN_PSP_DONOR","PENDING_VALIDATION_COMPLETE_CLAIM","SUCCESSFUL_CLAIM","UNSUCCESSFUL_CLAIM","CANCEL_CLAIM_REQUEST","OWNERSHIP_REQUESTED","USER_KEY_OWNERSHIP_VALIDATION_PENDING","DONOR_PSP_KEY_CONFIRMED","DONOR_PSP_KEY_UNCONFIRMED","CLAIM_RESOLUTION_PERIOD_CLOSED","DONATED_BY_CLAIM","CANCEL_PSP_DONOR_OWNERSHIP_CLAIM_ORDER","PENDING_UPDATE","PENDING_COMPLETE_CLAIM_DICT","CANCEL_DONOR_CLAIM_REQUEST"],"type":"string"},"Entries":{"type":"object","properties":{"watermark":{"type":"string","format":"date-time"},"registeredAccounts":{"type":"integer","format":"int32","nullable":true},"distinctAccounts":{"$ref":"#/components/schemas/Statistic"}},"additionalProperties":false},"Error":{"type":"object","properties":{"code":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"field":{"type":"string","nullable":true}},"additionalProperties":false},"ErrorMessage":{"type":"object","properties":{"message":{"type":"string","nullable":true},"exception":{"type":"string","nullable":true},"stackTrace":{"type":"string","nullable":true},"data":{"type":"string","format":"date-time"}},"additionalProperties":false},"EventKeyPixResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"key":{"$ref":"#/components/schemas/Key"},"newStatus":{"$ref":"#/components/schemas/NewStatus"},"newStatusUtcTimestamp":{"type":"string","format":"date-time"},"reason":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Accounts"},"holder":{"$ref":"#/components/schemas/Holder"},"confirmationToken":{"type":"string","nullable":true}},"additionalProperties":false},"EventTypeStatus":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"FindBalanceEntity":{"type":"object","properties":{"data":{"type":"string","format":"date-time"},"saldoDisponivel":{"type":"number","format":"double"},"saldoDisponivelParaMovimentacao":{"type":"number","format":"double"},"saldoVinculado":{"type":"number","format":"double"},"saldoBloqueado":{"type":"number","format":"double"},"saldoContabil":{"type":"number","format":"double"},"saldoInvestimento":{"type":"number","format":"double"},"saldoAuxilioEmergencial":{"type":"number","format":"double"},"limiteCreditoDisponivel":{"type":"number","format":"double"},"limiteCreditoContratado":{"type":"number","format":"double"}},"additionalProperties":false},"FraudMarkers":{"type":"object","properties":{"watermark":{"type":"string","format":"date-time"},"applicationFrauds":{"$ref":"#/components/schemas/Statistic"},"muleAccounts":{"$ref":"#/components/schemas/Statistic"},"scammerAccounts":{"$ref":"#/components/schemas/Statistic"},"otherFrauds":{"$ref":"#/components/schemas/Statistic"},"totalFrauds":{"$ref":"#/components/schemas/Statistic"},"totalFraudTransactionAmount":{"$ref":"#/components/schemas/Statistic"},"distinctFraudReporters":{"$ref":"#/components/schemas/Statistic"}},"additionalProperties":false},"HeaderHttp":{"type":"object","properties":{"gUsername":{"type":"string","nullable":true},"gCnpj":{"type":"string","nullable":true},"gAgency":{"type":"integer","format":"int32"},"gAccount":{"type":"integer","format":"int64"}},"additionalProperties":false},"History":{"type":"object","properties":{"dictStatus":{"type":"string","nullable":true},"timestampUTC":{"type":"string","format":"date-time"},"llocalStatus":{"type":"string","nullable":true},"previousLocalStatus":{"type":"string","nullable":true},"responsible":{"type":"string","nullable":true}},"additionalProperties":false},"Holder":{"type":"object","properties":{"name":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionData":{"type":"object","properties":{"taxIdNumber":{"type":"string","nullable":true},"transactionDate":{"type":"string","format":"date-time"},"addressingKey":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionDataResponse":{"type":"object","properties":{"taxIdNumber":{"type":"string","nullable":true},"addressingKey":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"reportedBy":{"type":"string","nullable":true},"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"transactionDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"InfractionReport":{"type":"object","properties":{"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"transactionId":{"type":"string","nullable":true},"openRefundRequestAutomatically":{"type":"boolean"},"transactionResult":{"type":"string","nullable":true},"infractionData":{"$ref":"#/components/schemas/InfractionData"},"reportedBy":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportDictResponse":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"transactionType":{"type":"string","nullable":true},"transactionResult":{"type":"string","nullable":true},"infractionType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"infractionData":{"$ref":"#/components/schemas/InfractionDataResponse"},"id":{"type":"string","nullable":true},"reportedBy":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"creationTime":{"type":"string","format":"date-time"},"lastModified":{"type":"string","format":"date-time"},"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportOp":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"analysis":{"$ref":"#/components/schemas/AnalysisOp"},"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"dictCreationTimeUtc":{"type":"string","format":"date-time"},"transaction":{"$ref":"#/components/schemas/TransactionOp"},"reportedBy":{"type":"string","nullable":true},"transactionResult":{"type":"string","nullable":true},"transactionType":{"type":"string","nullable":true},"complaintCreationTime":{"type":"string","format":"date-time"},"infractionRecordIndicator":{"type":"integer","format":"int32"}},"additionalProperties":false},"InfractionReportReceived":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"analysis":{"$ref":"#/components/schemas/AnalysisReceived"},"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"dictCreationTimeUtc":{"type":"string","format":"date-time"},"transaction":{"$ref":"#/components/schemas/TransactionReceived"},"refund":{"$ref":"#/components/schemas/RefundReceived"},"reportedBy":{"type":"string","nullable":true},"transactionResult":{"type":"string","nullable":true},"transactionType":{"type":"string","nullable":true}},"additionalProperties":false},"InfractionReportResponse":{"type":"object","properties":{"infractionType":{"type":"string","nullable":true},"situationType":{"type":"string","nullable":true},"reportDetails":{"type":"string","nullable":true},"analysis":{"$ref":"#/components/schemas/AnalysisResponse"},"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"transaction":{"$ref":"#/components/schemas/TransactionResponse"},"reportedBy":{"type":"string","nullable":true},"refund":{"$ref":"#/components/schemas/RefundResponse"},"transactionResult":{"type":"string","nullable":true},"infractionData":{"$ref":"#/components/schemas/InfractionDataResponse"}},"additionalProperties":false},"InfractionReportResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/InfractionReportResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"InfractionReports":{"type":"object","properties":{"watermark":{"type":"string","format":"date-time"},"openReports":{"type":"integer","format":"int32"},"openReportsDistinctReporters":{"type":"integer","format":"int32"},"rejectedReports":{"$ref":"#/components/schemas/Statistic"}},"additionalProperties":false},"InstantPayment":{"type":"object","properties":{"_T":{"type":"string","nullable":true},"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"receiverReconciliationIdentifier":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/Receiver"},"payer":{"$ref":"#/components/schemas/PayerOperation"},"spiTimestampUTC":{"type":"string","format":"date-time"},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/EventTypeStatus"},"eventStatus":{"$ref":"#/components/schemas/EventTypeStatus"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"return":{"$ref":"#/components/schemas/Return"}},"additionalProperties":false},"InstantPaymentCashIn":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"receiverReconciliationIdentifier":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverOperation"},"payer":{"$ref":"#/components/schemas/PayerOperation"},"spiTimestampUTC":{"type":"string","format":"date-time"},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/EventTypeStatus"},"eventStatus":{"$ref":"#/components/schemas/EventTypeStatus"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"},"return":{"$ref":"#/components/schemas/Return"}},"additionalProperties":false},"InstantPaymentCashInCallBackFail":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"instantPayment":{"$ref":"#/components/schemas/InstantPayment"},"userName":{"type":"string","nullable":true},"urlCallback":{"type":"string","nullable":true}},"additionalProperties":false},"InstantPaymentCashOut":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"customerDebitMadeByMip":{"type":"boolean"},"instantPaymentId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"timestampUTC":{"type":"string","format":"date-time"},"settlementId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"receiver":{"$ref":"#/components/schemas/ReceiverResponse"},"payer":{"$ref":"#/components/schemas/Payer"},"spiTimestampUTC":{"type":"string","format":"date-time"},"spiSettlementDate":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"mirrorWasActive":{"type":"boolean"},"originalSystem":{"type":"string","nullable":true},"remittanceInformation":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"debitEventType":{"$ref":"#/components/schemas/EventTypeStatus"},"debitEventStatus":{"$ref":"#/components/schemas/EventTypeStatus"},"debitRejectionReason":{"$ref":"#/components/schemas/DebitRejectionReason"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"isRigthsAndObligationSettlement":{"type":"boolean"}},"additionalProperties":false},"InstantPaymentsCallback":{"type":"object","properties":{"eventId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/InstantPaymentsStatusRequest"},"mipTransactionType":{"type":"string","nullable":true},"originalSystemTransactionId":{"type":"string","nullable":true},"eventType":{"$ref":"#/components/schemas/InstantPaymentsEventTypeRequest"},"rejection":{"$ref":"#/components/schemas/InstantPaymentsRejectionRequest"}},"additionalProperties":false},"InstantPaymentsEventTypeRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"InstantPaymentsRejectionRequest":{"type":"object","properties":{"reasonPACS002":{"type":"string","nullable":true}},"additionalProperties":false},"InstantPaymentsStatusRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"Item":{"type":"object","properties":{"itemId":{"type":"string","nullable":true},"data":{"$ref":"#/components/schemas/Data"},"error":{"type":"array","items":{"$ref":"#/components/schemas/Error"},"nullable":true}},"additionalProperties":false},"ItemRefundResponse":{"type":"object","properties":{"signature":{"$ref":"#/components/schemas/SignatureResponse"},"responseTime":{"type":"string","format":"date-time"},"correlationId":{"type":"string","nullable":true},"refundDict":{"$ref":"#/components/schemas/RefundDictResponse"}},"additionalProperties":false},"ItemResponse":{"type":"object","properties":{"signature":{"$ref":"#/components/schemas/SignatureResponse"},"responseTime":{"type":"string","format":"date-time"},"correlationId":{"type":"string","nullable":true},"infractionReportDict":{"$ref":"#/components/schemas/InfractionReportDictResponse"}},"additionalProperties":false},"JwtDataModel":{"type":"object","properties":{"username":{"type":"string","nullable":true},"cnpj":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"customerName":{"type":"string","nullable":true},"audiences":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"Key":{"type":"object","properties":{"id":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"KeyStatistics":{"type":"object","properties":{"spi":{"$ref":"#/components/schemas/Spi"},"fraudMarkers":{"$ref":"#/components/schemas/FraudMarkers"},"infractionReports":{"$ref":"#/components/schemas/InfractionReports"},"entries":{"$ref":"#/components/schemas/Entries"}},"additionalProperties":false},"MateraErrorResponse":{"type":"object","properties":{"code":{"type":"string","nullable":true},"message":{"type":"string","nullable":true}},"additionalProperties":false},"NewStatus":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"ObjectId":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int32","readOnly":true},"machine":{"type":"integer","format":"int32","readOnly":true,"deprecated":true},"pid":{"type":"integer","format":"int32","readOnly":true,"deprecated":true},"increment":{"type":"integer","format":"int32","readOnly":true,"deprecated":true},"creationTime":{"type":"string","format":"date-time","readOnly":true}},"additionalProperties":false},"ObjectMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"nullable":true},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"ObjectValidationErrorsModelIEnumerableWrapper":{"type":"object","properties":{"data":{"nullable":true},"error":{"type":"array","items":{"$ref":"#/components/schemas/ValidationErrorsModel"},"nullable":true}},"additionalProperties":false},"OriginalSpecification":{"type":"object","properties":{"refundReason":{"type":"string","nullable":true},"refundAmount":{"type":"string","nullable":true},"refundDetails":{"type":"string","nullable":true}},"additionalProperties":false},"OriginalSpecificationResponse":{"type":"object","properties":{"refundReason":{"type":"string","nullable":true},"refundAmount":{"type":"number","format":"double"},"refundDetails":{"type":"string","nullable":true}},"additionalProperties":false},"OriginalTransaction":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/CustomerRefund"}},"additionalProperties":false},"OriginalTransactionResponse":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/CustomerResponse"}},"additionalProperties":false},"ParticipantRole":{"enum":["CONTESTED","REQUESTING"],"type":"string"},"Payer":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"PayerOperation":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"PersonStatistics":{"type":"object","properties":{"spi":{"$ref":"#/components/schemas/Spi"},"fraudMarkers":{"$ref":"#/components/schemas/FraudMarkers"},"infractionReports":{"$ref":"#/components/schemas/InfractionReports"},"entries":{"$ref":"#/components/schemas/Entries"}},"additionalProperties":false},"PixAddressingKeyPotabilitStatusResponse":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"clearingDelayMilliseconds":{"type":"integer","format":"int64"}},"additionalProperties":false},"PixAddressingKeyPotabilitStatusResponseWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixAddressingKeyPotabilitStatusResponse"}},"additionalProperties":false},"PixAddressingKeyStatusResponse":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/EPixPortabilityStatus"},"statusDescription":{"type":"string","nullable":true,"readOnly":true},"clearingDelayMilliseconds":{"type":"integer","format":"int32"}},"additionalProperties":false},"PixAddressingKeyStatusResponseWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixAddressingKeyStatusResponse"}},"additionalProperties":false},"PixBankParticipantsResponse":{"type":"object","properties":{"participants":{"type":"array","items":{"$ref":"#/components/schemas/PixBankResponse"},"nullable":true}},"additionalProperties":false},"PixBankResponse":{"type":"object","properties":{"identification":{"type":"integer","format":"int32"},"name":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationEventStatusResponse":{"type":"object","properties":{"code":{"type":"string","nullable":true},"description":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationPayerResponse":{"type":"object","properties":{"checkCustomerAccountBalance":{"type":"boolean"},"name":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationReceiverResponse":{"type":"object","properties":{"receiverInstitutionISPB":{"type":"integer","format":"int32"},"receiverTaxId":{"type":"string","nullable":true},"addressingKey":{"type":"string","nullable":true},"endToEndIdQuery":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationRequest":{"type":"object","properties":{"idempotencyId":{"type":"string","nullable":true},"ignorePaymentDuplication":{"type":"boolean"},"additionalInformation":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationResponse":{"type":"object","properties":{"receiver":{"$ref":"#/components/schemas/PixConfirmationReceiverResponse"},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"demandsImmediateReturn":{"type":"boolean"},"historicComplement":{"type":"string","nullable":true},"informationAccountHolder":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"payer":{"$ref":"#/components/schemas/PixConfirmationPayerResponse"},"instantPaymentId":{"type":"string","nullable":true},"eventStatus":{"$ref":"#/components/schemas/PixConfirmationEventStatusResponse"},"endToEndId":{"type":"string","nullable":true},"customerDebitMadeByMip":{"type":"boolean"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true}},"additionalProperties":false},"PixConfirmationResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixConfirmationResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixCreateAccountHolderEntity":{"type":"object","properties":{"taxId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PixDonorConfirmRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"confirmed":{"type":"boolean"},"tokenValidation":{"type":"string","nullable":true},"reason":{"$ref":"#/components/schemas/EPixPortabilityReason"}},"additionalProperties":false},"PixFindEntities":{"type":"object","properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/PixFindEntity"},"nullable":true}},"additionalProperties":false},"PixFindEntitiesWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixFindEntities"}},"additionalProperties":false},"PixFindEntity":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"accountHolder":{"$ref":"#/components/schemas/PixCreateAccountHolderEntity"},"status":{"type":"string","nullable":true},"accountAdditionalInformation":{"$ref":"#/components/schemas/AccountAdditionalInformation"},"creationDate":{"type":"string","nullable":true},"keyLocallyActive":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"personStatistics":{"$ref":"#/components/schemas/PersonStatistics"},"keyStatistics":{"$ref":"#/components/schemas/KeyStatistics"},"jwtData":{"$ref":"#/components/schemas/JwtDataModel"}},"additionalProperties":false},"PixFindEntityWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixFindEntity"}},"additionalProperties":false},"PixFinishClaimerOwnershipRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"validationToken":{"type":"string","nullable":true},"idempotencyId":{"type":"string","nullable":true}},"additionalProperties":false},"PixInitializationCreditRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"document":{"type":"string","nullable":true}},"additionalProperties":false},"PixInitializationDebitRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"document":{"type":"string","nullable":true}},"additionalProperties":false},"PixInitializationRequest":{"type":"object","properties":{"debit":{"$ref":"#/components/schemas/PixInitializationDebitRequest"},"credit":{"$ref":"#/components/schemas/PixInitializationCreditRequest"},"idempotencyId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"}},"additionalProperties":false},"PixInitializationResponse":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"accountHolder":{"$ref":"#/components/schemas/PixCreateAccountHolderEntity"},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"keyLocallyActive":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"idempotencyId":{"type":"string","nullable":true}},"additionalProperties":false},"PixInitializationResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixInitializationResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixInsertKeyAccountHolderRequest":{"type":"object","properties":{"document":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PixInsertKeyAccountRequest":{"type":"object","properties":{"agency":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true}},"additionalProperties":false},"PixInsertKeyOperation":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"pixInsertKeyRequestOperation":{"$ref":"#/components/schemas/PixInsertKeyRequestOperation"},"pixInsertKeyResponseOperation":{"$ref":"#/components/schemas/PixInsertKeyResponseOperation"}},"additionalProperties":false},"PixInsertKeyRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/PixInsertKeyAccountRequest"},"accountHolderInformation":{"$ref":"#/components/schemas/PixInsertKeyAccountHolderRequest"}},"additionalProperties":false},"PixInsertKeyRequestOperation":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/PixInsertKeyAccountRequest"},"accountHolderInformation":{"$ref":"#/components/schemas/PixInsertKeyAccountHolderRequest"}},"additionalProperties":false},"PixInsertKeyResponse":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"clearingDelayMilliseconds":{"type":"integer","format":"int64"},"validationToken":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/AccountKey"}},"additionalProperties":false},"PixInsertKeyResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixInsertKeyResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixInsertKeyResponseOperation":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"clearingDelayMilliseconds":{"type":"integer","format":"int64"},"validationToken":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/AccountKey"}},"additionalProperties":false},"PixKeyFindResponse":{"type":"object","properties":{"key":{"type":"string","nullable":true},"keyType":{"type":"string","nullable":true},"idPixKey":{"type":"string","nullable":true},"pspIdentification":{"type":"string","nullable":true},"accountHolder":{"$ref":"#/components/schemas/PixCreateAccountHolderEntity"},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"updateDate":{"type":"string","nullable":true},"keyLocallyActive":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true}},"additionalProperties":false},"PixManualRequest":{"type":"object","properties":{"debit":{"$ref":"#/components/schemas/PixSendManualDebitRequest"},"credit":{"$ref":"#/components/schemas/PixSendManualCreditRequest"},"idempotencyId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true}},"additionalProperties":false},"PixQrcodeDecodeEntity":{"type":"object","properties":{"qrcodeType":{"type":"string","nullable":true},"staticQrcodeData":{"$ref":"#/components/schemas/StaticDecode"},"dynamicQrcodeData":{"$ref":"#/components/schemas/DynamicDecode"},"brCodeArrangements":{"type":"array","items":{"$ref":"#/components/schemas/QrcodeId"},"nullable":true}},"additionalProperties":false},"PixQrcodeDecodeEntityMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixQrcodeDecodeEntity"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixQrcodeDynamicEntityResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DataRoot"}},"additionalProperties":false},"PixQrcodeEntity":{"type":"object","properties":{"textContent":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true}},"additionalProperties":false},"PixQrcodeEntityWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixQrcodeEntity"}},"additionalProperties":false},"PixReceiptResponse":{"type":"object","properties":{"pdf":{"type":"string","format":"byte","nullable":true}},"additionalProperties":false},"PixRegisterClaimerRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"confirmed":{"type":"boolean"}},"additionalProperties":false},"PixReturnRequest":{"type":"object","properties":{"value":{"type":"number","format":"double"},"returnReasonCode":{"type":"string","nullable":true},"eventId":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true},"historicComplement":{"type":"string","nullable":true}},"additionalProperties":false},"PixReturnResponse":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"returnId":{"type":"string","nullable":true},"creationDateTime":{"type":"string","format":"date-time"},"originalInstantPaymentId":{"type":"string","nullable":true},"returnedAmount":{"type":"number","format":"double"},"endToEndId":{"type":"string","nullable":true},"customerDebitMadeByMip":{"type":"boolean"},"instantPayment":{"$ref":"#/components/schemas/InstantPaymentsCallback"}},"additionalProperties":false},"PixReturnResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixReturnResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixSendAccountEntity":{"type":"object","properties":{"branch":{"type":"string","nullable":true},"accountNumber":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendCreditRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"document":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendDebitRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendEntity":{"type":"object","properties":{"receiver":{"$ref":"#/components/schemas/PixSendReceiverEntity"},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"customerInitiationTimestampUTC":{"type":"string","format":"date-time"},"demandsImmediateReturn":{"type":"boolean"},"historicComplement":{"type":"string","nullable":true},"informationAccountHolder":{"type":"string","nullable":true},"originSystem":{"type":"string","nullable":true},"instructionPriority":{"type":"string","nullable":true},"settlementId":{"type":"string","nullable":true},"payer":{"$ref":"#/components/schemas/PixSendPayerEntity"},"instantPaymentId":{"type":"string","nullable":true},"eventStatus":{"$ref":"#/components/schemas/PixSendEventStatusEntity"},"endToEndId":{"type":"string","nullable":true},"customerDebitMadeByMip":{"type":"boolean"},"instructionType":{"type":"string","nullable":true},"initiationForm":{"type":"string","nullable":true},"transactionPurpose":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendEntityMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/PixSendEntity"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"PixSendEventStatusEntity":{"type":"object","properties":{"code":{"type":"string","nullable":true},"description":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendManualCreditRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true},"document":{"type":"string","nullable":true},"ispb":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendManualDebitRequest":{"type":"object","properties":{"name":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"accountType":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendPayerEntity":{"type":"object","properties":{"account":{"$ref":"#/components/schemas/PixSendAccountEntity"},"checkCustomerAccountBalance":{"type":"boolean"},"name":{"type":"string","nullable":true},"taxId":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendReceiverEntity":{"type":"object","properties":{"receiverInstitutionISPB":{"type":"integer","format":"int32"},"receiverTaxId":{"type":"string","nullable":true},"addressingKey":{"type":"string","nullable":true},"endToEndIdQuery":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/PixSendAccountEntity"}},"additionalProperties":false},"PixSendRequest":{"type":"object","properties":{"debit":{"$ref":"#/components/schemas/PixSendDebitRequest"},"credit":{"$ref":"#/components/schemas/PixSendCreditRequest"},"idempotencyId":{"type":"string","nullable":true},"originalSystemTransactionId":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"historicComplement":{"type":"string","nullable":true}},"additionalProperties":false},"PixSendRequestOperation":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"pixSendRequest":{"$ref":"#/components/schemas/PixSendRequest"},"statusResponse":{"$ref":"#/components/schemas/PixSendEntity"},"header":{"$ref":"#/components/schemas/HeaderHttp"},"instantPayments":{"$ref":"#/components/schemas/InstantPaymentsCallback"}},"additionalProperties":false},"PixStatusEventTypeRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"PixStatusRejectionRequest":{"type":"object","properties":{"reasonPACS002":{"type":"string","nullable":true}},"additionalProperties":false},"PixStatusResponse":{"type":"object","properties":{"eventId":{"type":"string","nullable":true},"endToEndId":{"type":"string","nullable":true},"mipTransactionType":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/PixStatusStatusRequest"},"eventType":{"$ref":"#/components/schemas/PixStatusEventTypeRequest"},"rejection":{"$ref":"#/components/schemas/PixStatusRejectionRequest"}},"additionalProperties":false},"PixStatusStatusRequest":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousInfractionReport":{"type":"object","properties":{"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousInfractionReportResponse":{"type":"object","properties":{"mipInfractionReportId":{"type":"string","nullable":true},"dictInfractionReportId":{"type":"string","nullable":true}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"Psp":{"type":"object","properties":{"ispb":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeAdditionalInformation":{"type":"object","properties":{"name":{"type":"string","nullable":true},"content":{"type":"string","nullable":true},"showToPayer":{"type":"boolean"}},"additionalProperties":false},"QrcodeCalendario":{"type":"object","properties":{"expiracao":{"type":"string","nullable":true},"vencimento":{"type":"string","nullable":true},"dataDeVencimento":{"type":"string","nullable":true},"validaAposVencimento":{"type":"string","nullable":true},"validadeAposVencimento":{"type":"string","nullable":true},"criacao":{"type":"string","nullable":true},"apresentacao":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeCliente":{"type":"object","properties":{"cpf":{"type":"string","nullable":true},"nome":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeDinamicoRetirada":{"type":"object","properties":{"troco":{"$ref":"#/components/schemas/QrcodeDinamicoRetiradaDetalhes"},"saque":{"$ref":"#/components/schemas/QrcodeDinamicoRetiradaDetalhes"}},"additionalProperties":false},"QrcodeDinamicoRetiradaDetalhes":{"type":"object","properties":{"modalidadeAgente":{"type":"string","nullable":true},"valor":{"type":"string","nullable":true},"modalidadeAlteracao":{"type":"integer","format":"int32"},"prestadorDoServicoDeSaque":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeDynamicModelRequest":{"type":"object","properties":{"addressingKey":{"$ref":"#/components/schemas/AddressingKeyRequest"},"accountHolderName":{"type":"string","nullable":true},"accountHolderCity":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"vencDate":{"type":"string","format":"date-time"},"expiration":{"type":"integer","format":"int64","nullable":true},"daysAfterVenc":{"type":"integer","format":"int32","nullable":true},"finePercentual":{"type":"integer","format":"int32"},"modalityChange":{"type":"integer","format":"int32"},"additionalInformation":{"type":"array","items":{"$ref":"#/components/schemas/QrcodeAdditionalInformation"},"nullable":true},"payer":{"$ref":"#/components/schemas/QrcodePayer"},"receiver":{"$ref":"#/components/schemas/QrcodeReceiver"},"receiverTxId":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeDynamicPayload":{"type":"object","properties":{"revisao":{"type":"integer","format":"int32"},"infoAdicionais":{"type":"array","items":{},"nullable":true},"calendario":{"$ref":"#/components/schemas/QrcodeCalendario"},"devedor":{"$ref":"#/components/schemas/QrcodeCliente"},"valor":{"$ref":"#/components/schemas/QrcodeValor"},"txId":{"type":"string","nullable":true},"chave":{"type":"string","nullable":true},"solicitacaoPagador":{"type":"string","nullable":true},"status":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeId":{"type":"object","properties":{"emvId":{"type":"integer","format":"int32"},"gui":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeModelAddressingKeyRequest":{"type":"object","properties":{"key":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"QrcodeModelCopyPasteRequest":{"type":"object","properties":{"qrcodeCopyPaste":{"type":"string","nullable":true},"value":{"type":"number","format":"double"},"additionalInformation":{"type":"string","nullable":true},"historicComplement":{"type":"string","nullable":true},"idempotencyId":{"type":"string","nullable":true},"debit":{"$ref":"#/components/schemas/PixSendDebitRequest"}},"additionalProperties":false},"QrcodeModelRequest":{"type":"object","properties":{"accountHolderName":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true},"addressingKey":{"$ref":"#/components/schemas/QrcodeModelAddressingKeyRequest"},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true},"value":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"QrcodePayer":{"type":"object","properties":{"payerName":{"type":"string","nullable":true},"cpfCnpj":{"type":"string","nullable":true},"validatePayer":{"type":"boolean","nullable":true}},"additionalProperties":false},"QrcodeReceiver":{"type":"object","properties":{"name":{"type":"string","nullable":true},"cpfCnpj":{"type":"string","nullable":true},"tradeName":{"type":"string","nullable":true},"agency":{"type":"integer","format":"int32"},"account":{"type":"string","nullable":true},"addressing":{"$ref":"#/components/schemas/Addressing"}},"additionalProperties":false},"QrcodeValor":{"type":"object","properties":{"original":{"type":"string","nullable":true},"juros":{"type":"number","format":"double"},"multa":{"type":"number","format":"double"},"desconto":{"type":"number","format":"double"},"final":{"type":"number","format":"double"},"permiteAlteracao":{"type":"boolean"},"abatimento":{"type":"string","nullable":true},"modalidadeAlteracao":{"type":"integer","format":"int32"},"retirada":{"$ref":"#/components/schemas/QrcodeDinamicoRetirada"}},"additionalProperties":false},"Receiver":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"ReceiverOperation":{"type":"object","properties":{"psp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"addressKey":{"type":"string","nullable":true},"account":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"ReceiverResponse":{"type":"object","properties":{"debitPsp":{"$ref":"#/components/schemas/Psp"},"taxId":{"type":"string","nullable":true},"debitAccount":{"$ref":"#/components/schemas/Account"}},"additionalProperties":false},"Refund":{"type":"object","properties":{"refundValue":{"type":"string","nullable":true},"expectedAmount":{"type":"string","nullable":true},"customerFundsMonitoring":{"$ref":"#/components/schemas/CustomerFundsMonitoringReceived"}},"additionalProperties":false},"RefundDevolutionResponse":{"type":"object","properties":{"refundValue":{"type":"number","format":"double"},"refundTransactionId":{"type":"string","nullable":true},"settlementsIdentification":{"type":"string","nullable":true},"returnErrorCode":{"type":"string","nullable":true},"debitSettlementId":{"type":"string","nullable":true}},"additionalProperties":false},"RefundDictDataResponse":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ItemRefundResponse"},"nullable":true}},"additionalProperties":false},"RefundDictDataResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RefundDictDataResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"RefundDictResponse":{"type":"object","properties":{"refundReason":{"type":"string","nullable":true},"refundAmount":{"type":"number","format":"double"},"refundDetails":{"type":"string","nullable":true},"analysisResult":{"type":"string","nullable":true},"analysisDetails":{"type":"string","nullable":true},"refundRejectionReason":{"type":"string","nullable":true},"refundTransactionId":{"type":"string","nullable":true},"transactionId":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"creationTime":{"type":"string","format":"date-time"},"lastModified":{"type":"string","format":"date-time"},"infractionReportId":{"type":"string","nullable":true}},"additionalProperties":false},"RefundDictResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RefundDictResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"RefundReceived":{"type":"object","properties":{"refundValue":{"type":"string","nullable":true},"expectedAmount":{"type":"string","nullable":true},"customerFundsMonitoring":{"$ref":"#/components/schemas/CustomerFundsMonitoringReceived"}},"additionalProperties":false},"RefundRequest":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"originalSpecification":{"$ref":"#/components/schemas/OriginalSpecification"},"originalTransaction":{"$ref":"#/components/schemas/OriginalTransaction"},"previousInfractionReport":{"type":"string","nullable":true}},"additionalProperties":false},"RefundRequestReceived":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ObjectId"},"createDate":{"type":"string","format":"date-time","readOnly":true},"updateDate":{"type":"string","format":"date-time"},"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"originalSpecification":{"$ref":"#/components/schemas/OriginalSpecification"},"originalTransaction":{"$ref":"#/components/schemas/OriginalTransaction"},"refund":{"$ref":"#/components/schemas/Refund"},"previousInfractionReport":{"$ref":"#/components/schemas/PreviousInfractionReport"}},"additionalProperties":false},"RefundRequestResponse":{"type":"object","properties":{"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"dictStatus":{"type":"string","nullable":true},"creationTimeUtc":{"type":"string","format":"date-time"},"requestingParticipant":{"type":"string","nullable":true},"contestedParticipant":{"type":"string","nullable":true},"originalSpecification":{"$ref":"#/components/schemas/OriginalSpecificationResponse"},"originalTransaction":{"$ref":"#/components/schemas/OriginalTransactionResponse"},"refund":{"$ref":"#/components/schemas/RefundDevolutionResponse"},"previousInfractionReport":{"$ref":"#/components/schemas/PreviousInfractionReportResponse"},"analysisResult":{"$ref":"#/components/schemas/AnalysisResultResponse"},"correlationId":{"type":"string","nullable":true}},"additionalProperties":false},"RefundRequestResponseListMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RefundRequestResponse"},"nullable":true},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"RefundRequestResponseMateraErrorResponseIEnumerableWrapper":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/RefundRequestResponse"},"error":{"type":"array","items":{"$ref":"#/components/schemas/MateraErrorResponse"},"nullable":true}},"additionalProperties":false},"RefundRequests":{"type":"object","properties":{"refundReason":{"type":"string","nullable":true},"refundAmount":{"type":"number","format":"double"},"refundDetails":{"type":"string","nullable":true},"transactionId":{"type":"string","nullable":true}},"additionalProperties":false},"RefundResponse":{"type":"object","properties":{"expectedAmount":{"type":"number","format":"double"},"customerFundsMonitoring":{"$ref":"#/components/schemas/CustomerFundsMonitoringResponse"},"mipRefundRequestId":{"type":"string","nullable":true},"dictRefundRequestId":{"type":"string","nullable":true}},"additionalProperties":false},"RefundStatus":{"enum":["OPEN","CLOSED","CANCELLED"],"type":"string"},"Return":{"type":"object","properties":{"originalEndToEndId":{"type":"string","nullable":true},"originalInstantPaymentId":{"type":"string","nullable":true},"returnReasonInformation":{"$ref":"#/components/schemas/ReturnReasonInformation"}},"additionalProperties":false},"ReturnReasonInformation":{"type":"object","properties":{"reasonCode":{"type":"string","nullable":true},"reasonDescription":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true}},"additionalProperties":false},"SignatureResponse":{"type":"object","additionalProperties":false},"Spi":{"type":"object","properties":{"watermark":{"type":"string","format":"date-time"},"settlements":{"$ref":"#/components/schemas/Statistic"}},"additionalProperties":false},"Stakeholder":{"enum":["DONOR","CLAIMER"],"type":"string"},"StaticDecode":{"type":"object","properties":{"pointOfInitiationMethod":{"type":"integer","format":"int32"},"country":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"value":{"type":"number","format":"double","nullable":true},"merchantName":{"type":"string","nullable":true},"merchantCity":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"reference":{"type":"string","nullable":true},"addressingKey":{"type":"string","nullable":true},"additionalInformation":{"type":"string","nullable":true},"withdrawServiceProvider":{"type":"string","nullable":true}},"additionalProperties":false},"Statistic":{"type":"object","properties":{"d90":{"type":"integer","format":"int32"},"m12":{"type":"integer","format":"int32"},"m60":{"type":"integer","format":"int32"}},"additionalProperties":false},"Status":{"enum":["OPEN","ACKNOWLEDGED","CLOSED","CANCELLED"],"type":"string"},"StatusClaimer":{"enum":["OPEN","WAITING_RESOLUTION","CONFIRMED","CANCELLED","COMPLETED"],"type":"string"},"TransactionOp":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/CustomerOp"}},"additionalProperties":false},"TransactionReceived":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/CustomerReceived"}},"additionalProperties":false},"TransactionResponse":{"type":"object","properties":{"transactionId":{"type":"string","nullable":true},"debitedParticipant":{"type":"string","nullable":true},"creditedParticipant":{"type":"string","nullable":true},"customer":{"$ref":"#/components/schemas/CustomerResponse"}},"additionalProperties":false},"TypeClaimer":{"enum":["OWNERSHIP","PORTABILITY"],"type":"string"},"ValidationErrorsModel":{"type":"object","properties":{"mensagem":{"type":"string","nullable":true},"data":{"type":"string","format":"date-time"}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"JWT Authorization header using the Bearer scheme. \\r\\n\\r\\n \n                      Enter 'Bearer' [space] and then your token in the text input below.\n                      \\r\\n\\r\\nExample: 'Bearer 12345abcdef'","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}